<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/explore">Explore Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/json">Raw JSON</a>
    </li>
</ul>

<div class="container">
    {{#if this.healthcheckStatusError}}
        <div class="row justify-content-center">
            <img src="images/x-red.png" width="50px" height="50px" alt="check-mark-green">
        </div>
        <div class="row justify-content-center">
            <p>{{this.healthcheckStatusError}}</p>
        </div>
        <div class="row justify-content-center">
            <h3>Looks like something is wrong. Check that your elasticsearch client is initialized.</h3>
            <p>After you fix the problem, click the button below to go back to the home page:</p>
        </div>
        <div class="row justify-content-center">
            <form action="/" method="GET">
                <button type="submit" class="btn btn-warning">Home</button>
            </form>
        </div>
    {{else}}
        <div class="row justify-content-center">
            <img src="images/check-mark-green.png" width="50px" height="50px" alt="x-red">
        </div>
        <div class="row justify-content-center">
            <p>{{this.healthcheckStatusSuccess}}</p>
        </div>
        <div class="row justify-content-center">
            <h3>Let's start by seeding some data into our elasticsearch client.</h3>
            <p>Click the button below to seed data about the Netflix original series Black Mirror into the elasticsearch client:</p>
        </div>
        <div class="row justify-content-center">
            <form action="/seed" method="POST">
                <button type="submit" class="btn btn-success">Seed Data</button>
            </form>
        </div>
    {{/if}}
</div>
