<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/explore">Explore Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/json">Raw JSON</a>
    </li>
</ul>

<div class="container">
    {{#if this.json}}
        <pre>{{this.json}}</pre>
    {{else}}
        <h3>Looks like no raw data has yet been seeded; return to the main page and seed your data.</h3>
    {{/if}}
</div>
