<section id="seed-section">
    <div id="seed">
        <h3>Seed company data:</h3>
    </div>
    <div id="button-container">
        <form action="/seed" method="POST">
            <button type="submit" id="seed-data-button">Click here to seed data</button>
        </form>
    </div>
</section>
